* {
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    color : white ;
}
body {
    background : url(../code-1076536_1920.jpg);
    background-position : center center ;
}

td {
    border: 2px solid black;
    /*background-color: burlywood; */
    /*background-image: linear-gradient(white, yellow);*/
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    padding: 1rem;
    color : black !important ;
    border-radius: 20px;
}

h1 {
    text-align: center;
}

#takename{
          margin-top : 10px;
          text-align : center;
          font-wieght : bolder;
          font-size : 2rem;
}

@media(max-width:600px) {
    td {
        padding: 0rem;
        border-radius: 10px;
    }
}
